
.cardContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  /* font: Roboto, sans-serif; */
}

.storyCard {
  padding-top: 20px;
}

.storyCard:hover {

}

.singleCard {
margin-top: 1px;
}


h4 {
  padding-left: 25px;
  font: Roboto, sans-serif;
}