
.card-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
}

h4 {
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
}

.first-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: -35px;
}

.title-link {
  font-family: 'Roboto', sans-serif;
}

.story-url {
  padding-left: 63px;
  margin-bottom: 20px;
  padding-top: 20px;
  word-wrap: break-word;
}

.story-url:hover {
  text-decoration: underline;
}

.nav-bar {
  background-color: '#333';
  height: 50px;
  width: 650px;
  text-align: left;
  padding-left: 15px;
}

.single-card {
  width: 650px;
  height: 275px;
  text-align: left;
  align-content: center;
  background-color: '#f2f2f2';

}

.story-card {
background-color: '#f2f2f2';
}

.story-info {
  padding-left: 40px;
  text-align: left;
}

a {
  text-decoration: none;
}
.url {
  color:black;
}

@media (max-width: 650px) {
  .nav-bar {
    width: 400px;
  }
  .single-card {
    width: 400px;
  }
}


