
.cardContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
}

.singleCard {
margin-top: 1px;
}

h4 {
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.first-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.title-link {
  font-family: 'Roboto', sans-serif;
}
